https://www.kaggle.com/code/wilomentena/conflict-analysis-deaths-protests/input

**NOTE:**
- use 2023-10-01-2024-01-29-Middle_East-Israel-Palestine.csv (9.62 MB) dataset

In [19]:
import pandas as pd

data = pd.read_csv(r'/content/sample_data/2023-10-01-2024-01-29-Middle_East-Israel-Palestine.csv')

data.head(2)

,event_id_cnty,event_date,year,time_precision,disorder_type,event_type,sub_event_type,actor1,assoc_actor_1,inter1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,tags,timestamp
0,ISR38822,19 January 2024,2024,1,Political violence,Explosions/Remote violence,Shelling/artillery/missile attack,Hezbollah,NaN,3,...,Elon,33.0637,35.2201,2,Ynet,National,"On 19 January 2024, Hezbollah forces in Lebano...",0,NaN,1705978255
1,ISR38830,19 January 2024,2024,1,Demonstrations,Protests,Peaceful protest,Protesters (Israel),Military Forces of Israel (2022-),6,...,Amikam,32.5635,35.0208,1,Israel Hayom,National,"On 19 January 2024, army reservists and relati...",0,crowd size=no report,1705978255

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18090 entries, 0 to 18089
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   event_id_cnty       18090 non-null  object
 1   event_date          18090 non-null  object
 2   year                18090 non-null  int64
 3   time_precision      18090 non-null  int64
 4   disorder_type       18090 non-null  object
 5   event_type          18090 non-null  object
 6   sub_event_type      18090 non-null  object
 7   actor1              18090 non-null  object
 8   assoc_actor_1       2515 non-null   object
 9   inter1              18090 non-null  int64
 10  interaction         18090 non-null  int64
 11  civilian_targeting  6458 non-null   object
 12  iso                 18090 non-null  int64
 13  region              18090 non-null  object
 14  country             18090 non-null  object
 15  admin1              18090 non-null  object
 16  admin2              18080 non-null  object
 17  admin3              2855 non-null   object
 18  location            18090 non-null  object
 19  latitude            18090 non-null  float64
 20  longitude           18090 non-null  float64
 21  geo_precision       18090 non-null  int64
 22  source              18090 non-null  object
 23  source_scale        18090 non-null  object
 24  notes               18090 non-null  object
 25  fatalities          18090 non-null  int64
 26  tags                4196 non-null   object
 27  timestamp           18090 non-null  int64
dtypes: float64(2), int64(8), object(18)
memory usage: 3.9+ MB

In [22]:
## 1.How many incidents occurred each day during the specified period?

daily_incidents = data.groupby('event_date').size().reset_index()

print("Number of incidents per day:", daily_incidents.head())

Number of incidents per day:          event_date    0
0  01 December 2023  229
1   01 January 2024  133
2  01 November 2023  232
3   01 October 2023   42
4  02 December 2023  181

In [ ]:
## 2.How to check the duplicates in event_id which have same fatalities report

duplicates = data[data.duplicated(subset=['event_id_cnty', 'fatalities'], keep=False)]

print("Duplicate events with the same fatalities:")

print(duplicates[['event_id_cnty', 'event_date', 'location', 'fatalities']])

Duplicate events with the same fatalities:
      event_id_cnty       event_date     location  fatalities
4          ISR38868  19 January 2024        Haifa           0
5          ISR38868  19 January 2024        Haifa           0
6          ISR38869  19 January 2024         Akko           0
7          ISR38869  19 January 2024         Akko           0
8          ISR38870  19 January 2024     Nahal Oz           0
...             ...              ...          ...         ...
18085      PSE36552  01 October 2023      Bayt El           0
18086      PSE36553  01 October 2023  Turmus Ayya           0
18087      PSE36553  01 October 2023  Turmus Ayya           0
18088      ISR16135  01 October 2023      Metulla           0
18089      ISR16135  01 October 2023      Metulla           0

[15784 rows x 4 columns]

In [24]:
## 3.What is the sum of total fatalities per day in each country?

fatalities = data.groupby(['event_date', 'country'], as_index=False)['fatalities'].sum()

print(fatalities)

           event_date    country  fatalities
0    01 December 2023     Israel           0
1    01 December 2023  Palestine         354
2     01 January 2024     Israel           0
3     01 January 2024  Palestine         372
4    01 November 2023     Israel           2
..                ...        ...         ...
215   30 October 2023  Palestine         310
216  31 December 2023     Israel           0
217  31 December 2023  Palestine         358
218   31 October 2023     Israel           0
219   31 October 2023  Palestine         774

[220 rows x 3 columns]

In [11]:
## 4.Total no.of fatalities based on longitudes and latitudes

fatalities = data.groupby(['longitude', 'latitude'], as_index=False)['fatalities'].sum()

print(fatalities)

     longitude  latitude  fatalities
0      34.2226   31.3474           2
1      34.2299   31.3294           0
2      34.2414   31.3098         196
3      34.2482   31.2842          76
4      34.2532   31.2718          50
..         ...       ...         ...
731    35.6098   33.1717           0
732    35.6384   32.7827           0
733    35.6387   33.2301           0
734    35.6584   33.1959           0
735    35.6773   33.2407           0

[736 rows x 3 columns]

In [12]:
## 5.What are the top 3 types of events reported?

top_event = data['event_type'].value_counts().nlargest(3)

print("Top 3 reported event types:",top_event)

Top 3 reported event types: event_type
Explosions/Remote violence    7325
Riots                         3672
Battles                       2920
Name: count, dtype: int64

In [14]:
## 6.What is the average number of incidents per location?

incidents = data['location'].value_counts()

average_incidents = incidents.mean()

print("Average number of incidents per location:", average_incidents)

Average number of incidents per location: 24.71311475409836

In [16]:
## 7.How many incidents occurred in admin1 (e.g., Gaza, West Bank)?

incidents = data['admin1'].value_counts()

print("Number of incidents in each 'admin1' region:", incidents)

Number of incidents in each 'admin1' region: admin1
Gaza Strip    7680
West Bank     7547
HaDarom       1174
HaZafon        880
HaMerkaz       388
Tel Aviv       255
Jerusalem       93
Haifa           73
Name: count, dtype: int64

In [3]:
## 8.What is the most common incident or event type in Palestine?

palestine = data[data['country'] == 'Palestine']

common_palestine = palestine ['event_type'].value_counts().idxmax()

print("Most common event type in Palestine:", common_palestine)

Most common event type in Palestine: Explosions/Remote violence

In [5]:
## 9.What percentage of event types resulted in at least one fatality?

fatalities = data[data['fatalities'] > 0]

percentage_fatalities = (len(fatalities) / len(data)) * 100

print("Percentage of event types resulting in at least one fatality:", percentage_fatalities, "%")

Percentage of event types resulting in at least one fatality: 20.80707573244887 %

In [6]:
## 10.What are the top 5 most frequent combinations of any two columns?

top_combinations = data.groupby(['event_type', 'country']).size().reset_index(name='count')

top_5_combinations = top_combinations.sort_values(by='count', ascending=False).head(5)

print("Top 5 most frequent combinations of 'event_type' and 'country':")

print(top_5_combinations)

Top 5 most frequent combinations of 'event_type' and 'country':
                   event_type    country  count
3  Explosions/Remote violence  Palestine   6520
7                       Riots  Palestine   3657
1                     Battles  Palestine   2538
8      Strategic developments     Israel   1401
9      Strategic developments  Palestine   1100

In [2]:
## 11.Categorize rows based on a condition where deaths or fatalities are greater than 30 as high or else low

data['fatality_category'] = data['fatalities'].apply(lambda x: 'High' if x > 30 else 'Low')

print(data[['fatalities', 'fatality_category']].head())

   fatalities fatality_category
0           0               Low
1           0               Low
2           0               Low
3           0               Low
4           0               Low

In [3]:
## 12.Find mean of each numeric column using apply function?

mean_values = data.apply(lambda x: x.mean() if x.dtype in ['int64', 'float64'] else None)

print("Mean of each numeric column:")

print(mean_values)

Mean of each numeric column:
event_id_cnty                  NaN
event_date                     NaN
year                  2.023139e+03
time_precision        1.002819e+00
disorder_type                  NaN
event_type                     NaN
sub_event_type                 NaN
actor1                         NaN
assoc_actor_1                  NaN
inter1                6.022443e+00
interaction           5.522521e+01
civilian_targeting             NaN
iso                   2.909847e+02
region                         NaN
country                        NaN
admin1                         NaN
admin2                         NaN
admin3                         NaN
location                       NaN
latitude              3.178126e+01
longitude             3.480987e+01
geo_precision         1.352570e+00
source                         NaN
source_scale                   NaN
notes                          NaN
fatalities            2.897236e+00
tags                           NaN
timestamp             1.701853e+09
fatality_category              NaN
dtype: float64

In [4]:
## 13.What is the sum of each numeric column using apply function?

sum_values = data.apply(lambda x: x.sum() if x.dtype in ['int64', 'float64'] else None)

print("Sum of each numeric column:")

print(sum_values)

Sum of each numeric column:
event_id_cnty                  NaN
event_date                     NaN
year                  3.659859e+07
time_precision        1.814100e+04
disorder_type                  NaN
event_type                     NaN
sub_event_type                 NaN
actor1                         NaN
assoc_actor_1                  NaN
inter1                1.089460e+05
interaction           9.990240e+05
civilian_targeting             NaN
iso                   5.263913e+06
region                         NaN
country                        NaN
admin1                         NaN
admin2                         NaN
admin3                         NaN
location                       NaN
latitude              5.749230e+05
longitude             6.297105e+05
geo_precision         2.446800e+04
source                         NaN
source_scale                   NaN
notes                          NaN
fatalities            5.241100e+04
tags                           NaN
timestamp             3.078651e+13
fatality_category              NaN
dtype: float64

In [27]:
## 14.Calculate aggregations of any two numeric columns that involved a specific country or location?

country_data = data[data['country'] == 'Palestine']

aggregations = country_data[['fatalities', 'interaction']].agg({
    'fatalities': ['sum', 'mean', 'max'],
    'interaction': ['sum', 'mean', 'max']
})

print("Aggregations for 'fatalities' and 'interaction' in Palestine:\n", aggregations)

Aggregations for 'fatalities' and 'interaction' in Palestine:
         fatalities    interaction
sum   49587.000000  940324.000000
mean      3.256518      61.753727
max     471.000000      88.000000

In [7]:
## 15.Extract all rows for any specific event type

protests_data = data[data['event_type'] == 'Protests']

print("Rows for event type 'Protests':")

print(protests_data.head(3))

Rows for event type 'Protests':
  event_id_cnty       event_date  year  time_precision   disorder_type  \
1      ISR38830  19 January 2024  2024               1  Demonstrations
2      ISR38864  19 January 2024  2024               1  Demonstrations
3      ISR38867  19 January 2024  2024               1  Demonstrations

  event_type    sub_event_type               actor1  \
1   Protests  Peaceful protest  Protesters (Israel)
2   Protests  Peaceful protest  Protesters (Israel)
3   Protests  Peaceful protest  Protesters (Israel)

                       assoc_actor_1  inter1  ...  latitude longitude  \
1  Military Forces of Israel (2022-)       6  ...   32.5635   35.0208
2                  Students (Israel)       6  ...   32.0871   34.8875
3                     Women (Israel)       6  ...   32.0809   34.7806

   geo_precision        source source_scale  \
1              1  Israel Hayom     National
2              1       Haaretz     National
3              1       Haaretz     National

                                               notes fatalities  \
1  On 19 January 2024, army reservists and relati...          0
2  On 19 January 2024, dozens of high school stud...          0
3  On 19 January 2024, dozens of women and relati...          0

                   tags   timestamp  fatality_category
1  crowd size=no report  1705978255                Low
2     crowd size=dozens  1705978256                Low
3     crowd size=dozens  1705978256                Low

[3 rows x 29 columns]

In [9]:
## 16.Determine the minimum and maximum length of text in the notes column

data['notes_length'] = data['notes'].apply(len)

min_length = data['notes_length'].min()

max_length = data['notes_length'].max()

print("Minimum length of text in 'notes':", min_length)

print("Maximum length of text in 'notes':", max_length)

Minimum length of text in 'notes': 88
Maximum length of text in 'notes': 1090

In [12]:
## 17.Get a random sample of rows for any specific year

year_2023 = data[data['year'] == 2023]

random_sample = year_2023.head(2)

print("Random sample of rows for the year 2023:", random_sample)

Random sample of rows for the year 2023:      event_id_cnty        event_date  year  time_precision  \
2521      ISR38402  31 December 2023  2023               1
2522      ISR38402  31 December 2023  2023               1

           disorder_type                  event_type  \
2521  Political violence  Explosions/Remote violence
2522  Political violence  Explosions/Remote violence

                         sub_event_type                             actor1  \
2521  Shelling/artillery/missile attack                          Hezbollah
2522  Shelling/artillery/missile attack  Military Forces of Israel (2022-)

     assoc_actor_1  inter1  ...  longitude geo_precision           source  \
2521           NaN       3  ...    35.5439             2  Globes; Haaretz
2522           NaN       1  ...    35.5439             2  Globes; Haaretz

     source_scale                                              notes  \
2521     National  On 31 December 2023, Hezbollah forces fired tw...
2522     National  On 31 December 2023, Hezbollah forces fired tw...

     fatalities tags   timestamp fatality_category  notes_length
2521          0  NaN  1704757981               Low           196
2522          0  NaN  1704757981               Low           196

[2 rows x 30 columns]

In [13]:
## 18.Find the maximum value in each numeric column using apply

max_values = data.apply(lambda x: x.max() if x.dtype in ['int64', 'float64'] else None)

print("Maximum value of each numeric column:", max_values)

Maximum value of each numeric column: event_id_cnty                  NaN
event_date                     NaN
year                  2.024000e+03
time_precision        3.000000e+00
disorder_type                  NaN
event_type                     NaN
sub_event_type                 NaN
actor1                         NaN
assoc_actor_1                  NaN
inter1                8.000000e+00
interaction           8.800000e+01
civilian_targeting             NaN
iso                   3.760000e+02
region                         NaN
country                        NaN
admin1                         NaN
admin2                         NaN
admin3                         NaN
location                       NaN
latitude              3.327920e+01
longitude             3.567730e+01
geo_precision         3.000000e+00
source                         NaN
source_scale                   NaN
notes                          NaN
fatalities            4.710000e+02
tags                           NaN
timestamp             1.706035e+09
fatality_category              NaN
notes_length          1.090000e+03
dtype: float64

In [14]:
## 19.Find the first and last row for each group in a specific column

first_rows = data.groupby('country').first().reset_index()

last_rows = data.groupby('country').last().reset_index()

print("First row for each country:",first_rows)

print("\nLast row for each country:",last_rows)

First row for each country:      country event_id_cnty       event_date  year  time_precision  \
0     Israel      ISR38822  19 January 2024  2024               1
1  Palestine      PSE45100  19 January 2024  2024               1

        disorder_type                  event_type  \
0  Political violence  Explosions/Remote violence
1  Political violence  Explosions/Remote violence

                      sub_event_type          actor1  \
0  Shelling/artillery/missile attack       Hezbollah
1  Shelling/artillery/missile attack  Hamas Movement

                       assoc_actor_1  ...  longitude  geo_precision  \
0  Military Forces of Israel (2022-)  ...    35.2201              2
1                Rioters (Palestine)  ...    34.4522              2

              source        source_scale  \
0               Ynet            National
1  Newpress; Twitter  New media-National

                                               notes fatalities  \
0  On 19 January 2024, Hezbollah forces in Lebano...          0
1  On 19 January 2024, Hamas militants targeted a...          0

                   tags   timestamp fatality_category  notes_length
0  crowd size=no report  1705978255               Low           230
1  crowd size=no report  1705978271               Low           283

[2 rows x 30 columns]

Last row for each country:      country event_id_cnty       event_date  year  time_precision  \
0     Israel      ISR16135  01 October 2023  2023               1
1  Palestine      PSE36553  01 October 2023  2023               1

        disorder_type event_type sub_event_type  \
0  Political violence      Riots   Mob violence
1  Political violence      Riots   Mob violence

                              actor1          assoc_actor_1  ...  longitude  \
0  Military Forces of Israel (2022-)  Jewish Group (Israel)  ...    35.5795
1                 Civilians (Israel)      Settlers (Israel)  ...    35.2856

   geo_precision                                        source  \
0              2                    Arutz Sheva; Ma'ariv; Ynet
1              2  Long War Journal; Quds News Network; Twitter

         source_scale                                              notes  \
0            National  On 1 October 2023, Lebanese rioters threw ston...
1  New media-National  On 1 October 2023, Palestinian rioters threw s...

  fatalities                  tags   timestamp fatality_category  notes_length
0          0  crowd size=no report  1706035442               Low           231
1          0  crowd size=no report  1696881789               Low           202

[2 rows x 30 columns]

In [18]:
## 20.Find the first row a column (e.x., fatalities) after sorting the DataFrame by any another column(e.x.,country)

sorted_data = data.sort_values(by='country')

first_fatality = sorted_data['fatalities'].iloc[0]

print("First row of 'fatalities' after sorting by 'country':", first_fatality)

First row of 'fatalities' after sorting by 'country': 0