link:- https://www.kaggle.com/datasets/lainguyn123/employee-survey

In [24]:
import pandas as pd
data = pd.read_csv(r'/content/sample_data/employee_survey.csv')
data.head(2)

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,Dept,EmpType,WLB,WorkEnv,...,SleepHours,CommuteMode,CommuteDistance,NumCompanies,TeamSize,NumReports,EduLevel,haveOT,TrainingHoursPerYear,JobSatisfaction
0,6,Male,32,Married,Mid,7,IT,Full-Time,1,1,...,7.6,Car,20,3,12,0,Bachelor,True,33.5,5
1,11,Female,34,Married,Mid,12,Finance,Full-Time,1,1,...,7.9,Car,15,4,11,0,Bachelor,False,36.0,5

## 1. How satisfied are employees with their current roles based on survey responses?

In [12]:
avg_job_satisfaction = data['JobSatisfaction'].mean()

avg_job = data['JobSatisfaction'].value_counts()

print(f"Average Job Satisfaction Rating: {avg_job_satisfaction:.2f}")

print(f"\nAveragely people are satisfied with their jobs")

Average Job Satisfaction Rating: 3.39

Averagely people are satisfied with their jobs

## 2.  What percentage of employees participated in the survey, and how might that impact the results?

In [16]:
print("No participation column found. Assuming all employees participated.")

participation_percentage = 100

print("\nFull participation assumed. Results are representative of the dataset.")

No participation column found. Assuming all employees participated.

Full participation assumed. Results are representative of the dataset.

## 3. What is the average job satisfaction score for each department?

In [18]:
satisfaction_by_dept = data.groupby('Dept')['JobSatisfaction'].mean()

print("Average Job Satisfaction by Department:\n", satisfaction_by_dept)

Average Job Satisfaction by Department:
 Dept
IT    3.282946
Name: JobSatisfaction, dtype: float64

## 4. How many employees are in each age group?

In [21]:
bins = [0, 29, 39, 49, 59, 100]

labels = ['20-29', '30-39', '40-49', '50-59', '60+']

data['AgeGroup'] = pd.cut(data['Age'], bins=bins, labels=labels, right=False)

age_group_count = data['AgeGroup'].value_counts()

print("Number of Employees in Each Age Group:")

print(age_group_count)

Number of Employees in Each Age Group:
AgeGroup
30-39    1069
20-29     901
40-49     594
50-59     407
60+        54
Name: count, dtype: int64

## 5. What is the average years of service for each education level?

In [25]:
avg_experience = data.groupby('EduLevel')['Experience'].mean()

print("Average Years of Service by Education Level:", avg_experience)

Average Years of Service by Education Level: EduLevel
Bachelor        9.145652
High School     1.600000
Master         11.897368
PhD            15.270000
Name: Experience, dtype: float64

## 6.Which departments have the highest and lowest employee engagement scores?

In [28]:
avg_engagement = data.groupby('Dept')['PhysicalActivityHours'].sum()

highest_engagement = avg_engagement.idxmax()

lowest_engagement = avg_engagement.idxmin()

print("Department with the Highest Average Engagement Score:")

print(highest_engagement, avg_engagement[highest_engagement])

print("\nDepartment with the Lowest Average Engagement Score:")

print(lowest_engagement, avg_engagement[lowest_engagement])

Department with the Highest Average Engagement Score:
IT 1561.1

Department with the Lowest Average Engagement Score:
HR 299.8

## 7. How many employees in each department have a "Very Satisfied" job satisfaction score?

In [23]:
very_satisfied = data[data['JobSatisfaction'] == 5]

dept = very_satisfied.groupby('Dept').size()

print("Number of 'Very Satisfied' Employees in Each Department:\n", dept)

Number of 'Very Satisfied' Employees in Each Department:
 Dept
Customer Service     21
Finance             124
HR                   22
IT                  126
Legal                36
Marketing            52
Operations           84
Sales                51
dtype: int64

## 8. What is the average workload for each job role?

In [25]:
avg_workload = data.groupby('JobLevel')['Workload'].mean()

print("Average Workload by Job Role:", avg_workload)

Average Workload by Job Role: JobLevel
Intern/Fresher    2.965347
Junior            3.046512
Lead              3.049223
Mid               2.889034
Senior            2.947615
Name: Workload, dtype: float64

## 9. Which gender has the highest average compensation score?f

In [30]:
avg_compensation = data.groupby('Gender')['TrainingHoursPerYear'].mean()

highest_avg = avg_compensation.idxmax()

print(f"\nGender with the Highest Average Compensation: {highest_avg}")

Gender with the Highest Average Compensation: Other

## 10. What are the top 5 job roles with the highest average employee engagement scores?

In [14]:
avg_physical_activity_by_job = data.groupby('JobLevel')['PhysicalActivityHours'].mean()

top_5_engaged_roles = avg_physical_activity_by_job.sort_values(ascending=False).head(5)

print("Top 5 Job Roles with the Highest Average Engagement Scores :\n", top_5_engaged_roles)

Top 5 Job Roles with the Highest Average Engagement Scores :
 JobLevel
Lead              2.073575
Mid               2.051828
Intern/Fresher    2.047030
Senior            2.032367
Junior            1.962458
Name: PhysicalActivityHours, dtype: float64

## 11. Which employees have the lowest work-life balance scores, sorted by score?

In [9]:
wlb_score = data['WLB'].min()

wlb_employees = data[data['WLB'] == wlb_score]

print(f"Employees with the Lowest Work-Life Balance Score ({wlb_score}):")

print(wlb_employees[['EmpID', 'Gender', 'Age', 'Dept', 'JobLevel', 'WLB']])

Employees with the Lowest Work-Life Balance Score (1):
      EmpID  Gender  Age              Dept JobLevel  WLB
0         6    Male   32                IT      Mid    1
1        11  Female   34           Finance      Mid    1
7        44    Male   24                IT   Junior    1
80     2788    Male   47           Finance      Mid    1
95     2830    Male   39  Customer Service   Senior    1
...     ...     ...  ...               ...      ...  ...
3016   1939    Male   49                IT     Lead    1
3017   1943    Male   57        Operations     Lead    1
3020   2070    Male   47         Marketing     Lead    1
3022   2145    Male   41                IT     Lead    1
3023   2168  Female   54                IT     Lead    1

[618 rows x 6 columns]

## 12. What is the average compensation for each education level, sorted from highest to lowest?

In [29]:
avg_compensation = data.groupby('EduLevel')['JobSatisfaction'].mean()

avg_compensation_edu = avg_compensation.sort_values(ascending=False)

print("Average Compensation by Education Level (Sorted from Highest to Lowest):", avg_compensation_edu)

Average Compensation by Education Level (Sorted from Highest to Lowest): EduLevel
Master         3.728947
High School    3.432653
Bachelor       3.345652
PhD            2.920000
Name: JobSatisfaction, dtype: float64

## 13. What are the details of employees in the "Sales" department?

In [49]:
sales_data = data[data['Dept'] == 'Sales']

print("Details of Employees in the Sales Department:\n", sales_data)

Details of Employees in the Sales Department:
       EmpID  Gender  Age MaritalStatus JobLevel  Experience   Dept    EmpType  \
4        28   Other   23        Single   Junior           1  Sales  Part-Time
6        21  Female   26        Single   Junior           4  Sales  Full-Time
15      151    Male   28       Married   Senior           6  Sales  Full-Time
16      173  Female   26        Single      Mid           4  Sales  Part-Time
45     1200  Female   32       Married   Senior           8  Sales   Contract
...     ...     ...  ...           ...      ...         ...    ...        ...
2969    991    Male   40       Married     Lead          18  Sales  Full-Time
2978   1095  Female   44       Married     Lead           6  Sales   Contract
2993    751  Female   50       Married     Lead          21  Sales  Full-Time
2995    863    Male   57       Married     Lead          16  Sales  Full-Time
2999   1089    Male   56       Married     Lead           4  Sales  Full-Time

      WLB  WorkEnv  ...  SleepHours       CommuteMode  CommuteDistance  \
4       3        1  ...         4.9               Car               20
6       2        2  ...         5.8               Car               29
15      4        5  ...         8.3              Bike                3
16      5        5  ...         7.8              Walk                2
45      4        5  ...         6.5  Public Transport                9
...   ...      ...  ...         ...               ...              ...
2969    4        1  ...         6.1               Car               25
2978    3        5  ...         7.2               Car               26
2993    1        2  ...         6.8         Motorbike               18
2995    3        4  ...         7.9               Car               18
2999    2        3  ...         5.2               Car               10

      NumCompanies TeamSize  NumReports  EduLevel  haveOT  \
4                0        7           0  Bachelor   False
6                1        8           0  Bachelor    True
15               2       16           7  Bachelor   False
16               1       15           0  Bachelor   False
45               3       17           2  Bachelor   False
...            ...      ...         ...       ...     ...
2969             6       28           5       PhD   False
2978             7       26           4       PhD   False
2993             9       23           5       PhD    True
2995            11       27           3       PhD   False
2999            11       22           7       PhD   False

      TrainingHoursPerYear JobSatisfaction
4                     20.5               5
6                     22.0               5
15                    43.0               5
16                    32.0               5
45                    44.0               5
...                    ...             ...
2969                  59.0               3
2978                  53.0               2
2993                  60.5               1
2995                  58.0               1
2999                  52.0               1

[281 rows x 23 columns]

## 14. How many employees are in the "IT" department and what are their job satisfaction scores?

In [17]:
data = data[data['Dept'] == 'IT']

it_employees = data.shape[0]

job_satisfaction = data['JobSatisfaction']

print(f"Number of Employees in the IT Department: {it_employees}\n")

print("Job Satisfaction Scores for Employees in the IT Department:", job_satisfaction)

Number of Employees in the IT Department: 774

Job Satisfaction Scores for Employees in the IT Department: 0       5
3       5
7       5
24      5
33      5
       ..
3016    1
3019    1
3021    1
3022    1
3023    1
Name: JobSatisfaction, Length: 774, dtype: int64

## 15. What is the average employee engagement score for the "Marketing" department?

In [10]:
marketing_data = data[data['Dept'] == 'Marketing']

avg_marketing = marketing_data['WLB'].mean()

print(f"Average Employee Engagement (WLB) Score for Marketing Department: {avg_marketing:.2f}")

Average Employee Engagement (WLB) Score for Marketing Department: 3.14

## 16. How many employees belong to each job role?

In [31]:
employees_by_job_role = data.groupby('JobLevel').size()

print("Number of Employees in Each Job Role:")

print(employees_by_job_role)

Number of Employees in Each Job Role:
JobLevel
Intern/Fresher     202
Junior             602
Lead               386
Mid                766
Senior            1069
dtype: int64