### Link : https://www.kaggle.com/datasets/emreksz/software-engineer-jobs-and-salaries-2024

## 1.What is the estimated salary range for a Software Engineer at Garmin International, Inc.?

In [57]:
import pandas as pd
data= pd.read_csv('/content/sample_data/Software Engineer Salaries.csv')

In [58]:
garmin = data.loc[(data['Company'] == 'Garmin International, Inc.') & (data['Job Title'] == 'C# Software Engineer')]

garmin_salaries = garmin['Salary']

print('The estimated salary range is:', garmin_salaries)

The estimated salary range is: 2    $95K - $118K (Glassdoor est.)
Name: Salary, dtype: object

In [59]:
data.head()

,Company,Company Score,Job Title,Location,Date,Salary
0,ViewSoft,4.8,Software Engineer,"Manassas, VA",8d,$68K - $94K (Glassdoor est.)
1,Workiva,4.3,Software Support Engineer,Remote,2d,$61K - $104K (Employer est.)
2,"Garmin International, Inc.",3.9,C# Software Engineer,"Cary, NC",2d,$95K - $118K (Glassdoor est.)
3,Snapchat,3.5,"Software Engineer, Fullstack, 1+ Years of Expe...","Los Angeles, CA",2d,$97K - $145K (Employer est.)
4,Vitesco Technologies Group AG,3.1,Software Engineer,"Seguin, TX",2d,$85K - $108K (Glassdoor est.)

## 2.Which company offers a Software Support Engineer role?

In [ ]:
software_engineer_roles = data[data['Job Title'].str.contains('Software Support Engineer', case=False)]

companies_offering_roles = software_engineer_roles['Company'].unique()

print('Companies offering Software Engineer roles:\n', companies_offering_roles)

Companies offering Software Engineer roles:
 ['Workiva' 'LSEG (London Stock Exchange Group)'
 'Garmin International, Inc.' 'Prophet Software']

## 3.What is the company score for Snapchat?

In [ ]:
snapchat = data[data['Company'] == 'Snapchat'][['Company', 'Company Score']]

print('The company score for Snapchat:\n', snapchat)

The company score for Snapchat:
       Company  Company Score
3    Snapchat            3.5
17   Snapchat            3.5
281  Snapchat            4.3
284  Snapchat            3.8

In [ ]:
data.columns

Index(['Company', 'Company Score', 'Job Title', 'Location', 'Date', 'Salary'], dtype='object')

## 4.In which city is the job located for the position of C# Software Engineer?

In [ ]:
location = data[data['Job Title'] == 'C# Software Engineer'][['Location','Job Title']]


print('Cities where C# Software Engineer jobs are located:\n', location)

Cities where C# Software Engineer jobs are located:
          Location             Job Title
2        Cary, NC  C# Software Engineer
581  Pennsylvania  C# Software Engineer

## 5.Which company offers a salary range of $68K - $94K for a Software Engineer role?

In [13]:
salary_range = data[(data['Job Title'] == 'Software Engineer') & (data['Salary'].str.contains(r'68K.*94K'))]

result = salary_range[['Company', 'Job Title', 'Salary']]

print(result)

    Company          Job Title                        Salary
0  ViewSoft  Software Engineer  $68K - $94K (Glassdoor est.)

## 6.Which company has a higher company score, ViewSoft or Workiva?

In [ ]:
viewsoft_score = data[data['Company'] == 'ViewSoft']['Company Score']

workiva_score = data[data['Company'] == 'Workiva']['Company Score']

viewsoft_score_value = viewsoft_score.values[0]

workiva_score_value = workiva_score.values[0]

In [ ]:
if viewsoft_score_value > workiva_score_value:

  print('ViewSoft has a higher company score:', viewsoft_score_value)

elif workiva_score_value > viewsoft_score_value:

  print('Workiva has a higher company score:', workiva_score_value)

else:

  print('Both companies have the same company score:', viewsoft_score_value)

ViewSoft has a higher company score: 4.8

## 7.Compare the salary range of the Software Engineer at Vitesco Technologies Group AG and the Software Engineer at Garmin International, Inc.

In [ ]:
vitesco_salaries = data[(data['Company'] == 'Vitesco Technologies Group AG') & (data['Job Title'] == 'Software Engineer')]['Salary']

garmin_salaries = data[(data['Company'] == 'Garmin International, Inc.') & (data['Job Title'].str.contains('Software Engineer', case=False))]['Salary']

print('Software Engineer Salary at Vitesco Technologies Group AG:')

print(vitesco_salaries)

print('\nSoftware Engineer Salary at Garmin International, Inc.:')
print(garmin_salaries)

Software Engineer Salary at Vitesco Technologies Group AG:
4    $85K - $108K (Glassdoor est.)
Name: Salary, dtype: object

Software Engineer Salary at Garmin International, Inc.:
2      $95K - $118K (Glassdoor est.)
384     $70K - $96K (Glassdoor est.)
530    $83K - $110K (Glassdoor est.)
544    $85K - $130K (Glassdoor est.)
Name: Salary, dtype: object

## 8.Which job offers a salary range of over $100K?

In [21]:
data['new salary'] = data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

high_salary_jobs = data[data['new salary']> 100]

result = high_salary_jobs[['Job Title', 'Salary']]

print(result)

                                             Job Title  \
5                                  Backend Engineer II
9                                Sr. Software Engineer
14      Software Engineer, athenaCollector – RCM Rules
18                                   Software Engineer
23                         Associate Software Engineer
..                                                 ...
752                                 Software Developer
754      Software Dev Engineer, L5 , SFSC Integrations
758                      Junior Java Software Engineer
759                   Apprentice ETL Software Engineer
760  Software Engineer, Tool & Infrastructure, Reli...

                             Salary
5     $123K - $175K (Employer est.)
9     $147K - $189K (Employer est.)
14    $192K - $288K (Employer est.)
18    $124K - $234K (Employer est.)
23    $108K - $199K (Employer est.)
..                              ...
752  $118K - $184K (Glassdoor est.)
754   $124K - $234K (Employer est.)
758   $234K - $284K (Employer est.)
759   $160K - $385K (Employer est.)
760           $222K (Employer est.)

[320 rows x 2 columns]

## 9.Which company has a company score of less than 4.0?

In [ ]:
score = data[data['Company Score'] < 4.0]

print('Companies with a company score of less than 4.0:\n', score[['Company', 'Company Score']])

Companies with a company score of less than 4.0:
                            Company  Company Score
2       Garmin International, Inc.            3.9
3                         Snapchat            3.5
4    Vitesco Technologies Group AG            3.1
5                          Spotify            3.9
8                            WHOOP            3.3
..                             ...            ...
782                     SimpliSafe            2.9
783                 Inspire Brands            3.7
785                   Deluxe Media            3.5
786                           Meta            3.7
787                      Liquibase            3.8

[430 rows x 2 columns]

## 10.What is the job title with the highest company score in this dataset?

In [ ]:
max_score = data['Company Score'].max()

highest_score_job = data[data['Company Score'] == max_score]

print('Job title(s) with the highest company score:\n', highest_score_job['Job Title'])

Job title(s) with the highest company score:
 7                                    Software Developers
16       Entry Level to Senior Level Software Developers
41              Software Dev Engineer - Computer Science
51                                     Software Engineer
89                                 Software Engineer III
90                                 Software Engineer III
101                               Java Software Engineer
102                                 Software Engineer II
138                                    Software Engineer
169                                    Software Engineer
233                            Site Reliability Engineer
262                             Senior Software Engineer
264                                    Software Engineer
331                                    Software Engineer
409                       Sr. Front End Engineer (React)
420                                    Software Engineer
452                Software Systems Engineer - Mason, OH
470         Full Stack Engineer II (Frontend) - Benefits
471                           Software Engineer - Hybrid
489                 Senior Software Engineer - Warehouse
502                                DSP Software Engineer
517               Senior Software Engineer, Service Mesh
532                           Embedded Software Engineer
578    Software Engineer 2 - Mainframe (Cobol, JCL, V...
626    Senior Software Development Engineer - Data En...
649                Software Integration Engineer, Junior
656                                    Software Engineer
702                                    Software Engineer
Name: Job Title, dtype: object

## 11.List all companies that offer a salary range with a maximum value greater than $100K.

In [22]:
data['new salary'] = data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

jobs = data[data['new salary']> 100]

result = jobs[['Company', 'Salary']]

print(result)

                       Company                          Salary
5                      Spotify   $123K - $175K (Employer est.)
9                          PFF   $147K - $189K (Employer est.)
14                Athenahealth   $192K - $288K (Employer est.)
18                       Hertz   $124K - $234K (Employer est.)
23       The MITRE Corporation   $108K - $199K (Employer est.)
..                         ...                             ...
752  Amazon Web Services, Inc.  $118K - $184K (Glassdoor est.)
754               Audacy, Inc.   $124K - $234K (Employer est.)
758                      Tesla   $234K - $284K (Employer est.)
759                     OpenAI   $160K - $385K (Employer est.)
760                 NCR Atleos           $222K (Employer est.)

[320 rows x 2 columns]

## 12.Which company has the lowest company score but offers a salary range above $90K?

In [25]:
data['new salary'] = data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

jobs = data[data['new salary']> 90]

score = jobs.loc[jobs['Company Score'].idxmin()]

print(score)

Company                                              BorgWarner
Company Score                                               1.0
Job Title        Software Development Engineer, Officer, Onsite
Location                                             Quincy, MA
Date                                                         3d
Salary                            $120K - $140K (Employer est.)
new salary                                                120.0
Name: 600, dtype: object

## 13.List all jobs that are located in Texas and have a company score above 3.0.

In [ ]:
texas_jobs = data[(data['Location'] == 'Texas') & (data['Company Score'] > 3.0)]

print('Jobs located in Texas with a company score above 3.0:\n', texas_jobs[['Job Title', 'Company', 'Location', 'Company Score']])

Jobs located in Texas with a company score above 3.0:
                                  Job Title    Company Location  Company Score
382  WordPress Full Stack Engineer (React)      Plaid    Texas            3.7
494       Staff Software Engineer (Remote)  ByteDance    Texas            3.6

## 14.Which company offers the highest salary range for software engineering roles?

In [ ]:
software_roles = data[data['Job Title'].str.contains('Software Engineer', case=False, na=False)]

highest_salary = software_roles.loc[software_roles['Salary'].str.extract(r'(\d{2,3})K').astype(float).idxmax()]

print('Company offering the highest salary:\n', highest_salary[['Company', 'Job Title', 'Salary']])

Company offering the highest salary:
     Company                 Job Title                         Salary
526  BOEING  Senior Software Engineer  $343K - $637K (Employer est.)

## 15.What is the job title with the lowest salary range?

In [ ]:
salary= data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

lowest_salary = salary.idxmin()

lowest_salary_role = data.loc[lowest_salary]

print('Job title with the lowest salary range:\n', lowest_salary_role[['Job Title', 'Company', 'Salary']])

Job title with the lowest salary range:
 Job Title              Software Engineer
Company          Solvere Technical Group
Salary       $10K - $20K (Employer est.)
Name: 350, dtype: object

## 16.How many companies have a company score greater than 4.0?

In [ ]:
high_score = data[data['Company Score'] > 4.0]

companies = high_score['Company'].nunique()

print('Number of companies with a company score greater than 4.0:',companies)

Number of companies with a company score greater than 4.0: 249

### 17.Which job title is offered in Los Angeles, CA?

In [ ]:
jobs = data[data['Location'] == 'Los Angeles, CA']

job_titles = jobs['Job Title'].unique()

print('Job titles offered in Los Angeles, CA:\n', job_titles)

Job titles offered in Los Angeles, CA:
 ['Software Engineer, Fullstack, 1+ Years of Experience'
 'Software Engineer, C++' 'Software Engineer Sr'
 'Senior DevOps Engineer - Los Angeles'
 'Software Engineer, C++, 3+ Years of Experience'
 'Contract Software Engineer'
 'AI Software Engineer, Campus, United States - BCG X'
 'Analytics Engineer' 'Software Engineer (C++)']

## 18.Compare the salary ranges of software engineering jobs in Virginia and California.

In [ ]:
va_salary = data[(data['Location'] == 'Virginia') & (data['Job Title'].str.contains('Software Engineer'))]['Salary']

ca_salary = data[(data['Location'] == 'California') & (data['Job Title'].str.contains('Software Engineer'))]['Salary']

va_salary_min, va_salary_max = va_salary.min(), va_salary.max()

ca_salary_min, ca_salary_max = ca_salary.min(), ca_salary.max()

print("Virginia Software Engineering Jobs Salary Range: Min: {}, Max: {}".format(va_salary_min,va_salary_max))

print("\nCalifornia Software Engineering Jobs Salary Range: Min: {}, Max: {}".format(ca_salary_min, ca_salary_max))

Virginia Software Engineering Jobs Salary Range: Min: $84K - $106K (Glassdoor est.), Max: $84K - $106K (Glassdoor est.)

California Software Engineering Jobs Salary Range: Min: $79K - $117K (Glassdoor est.), Max: $93K - $128K (Glassdoor est.)

## 19.Which company offers a remote software engineer position?

In [ ]:
remote_software_jobs = data[(data['Job Title'].str.contains('Software Engineer')) & (data['Location'].str.contains('Remote', case=False))]

remote_companies = remote_software_jobs['Company'].unique()

print('Companies offering remote software engineer positions:\n', remote_companies)

Companies offering remote software engineer positions:
 ['PFF' 'HealthMine Services, Inc.' 'Workiva' 'Zipongo' 'Instacart'
 'Cultura Technologies Inc' 'Mailprotector' 'Perforce Software' 'Origence'
 'CNH Industrial' 'Splunk' 'Aflac, Incorporated' 'Two Six Technologies'
 'BAE Systems' 'Inabia Software & Consulting Inc.' 'ICR, Inc.'
 'Quantum Systems Inc' 'Rippling' 'NetApp' 'Salesforce' 'ByteDance'
 'JRC Integrated Systems, LLC' 'GAP Solutions, Inc.' 'BOEING'
 'TDI Technologies' 'Chatsworth Products']

## 20.What is the average salary range for all the jobs in this dataset?

In [ ]:
salary_extracted = data['Salary'].str.extractall(r'(\d{2,3})K').astype(float)

average_salary = salary_extracted[0].mean()

print(f'The average salary range for all jobs in this dataset is: ${average_salary:.2f}')

The average salary range for all jobs in this dataset is: $129.54

## 21.Find all jobs posted within the last week.

In [ ]:
last_week_jobs = data[data['Date'].isin(['24h', '1d', '2d', '3d', '4d', '5d', '6d', '7d'])]

print('Jobs posted within the last week:\n', last_week_jobs[['Job Title','Date']])

Jobs posted within the last week:
                                              Job Title Date
1                            Software Support Engineer   2d
2                                 C# Software Engineer   2d
3    Software Engineer, Fullstack, 1+ Years of Expe...   2d
4                                    Software Engineer   2d
5                                  Backend Engineer II   1d
..                                                 ...  ...
858                           Senior Software Engineer   3d
862                               Software Engineer II   3d
863           Embedded Software Engineer (Entry-Level)   2d
865        Software Engineer, Machine Learning Compute   6d
868                            Junior Python Developer   2d

[377 rows x 2 columns]

## 22.Which company offers the highest salary range for software support roles?

In [ ]:
jobs = data[data['Job Title'].str.contains('Software Support', case=False, na=False)]

max_salary = jobs['Salary'].str.extract(r'(\d{2,3})K').astype(float).max()

max_salary

0    102.0
dtype: float64

## 23.How many jobs are located in California?

In [ ]:
jobs = data[data['Location'] == 'California']

california_jobs = jobs['Job Title'].count()


print(california_jobs)

4

## 24.What is the job title with the lowest company score in the dataset?

In [ ]:
data1 = data.dropna(subset=['Company Score'])

min_score = data1['Company Score'].idxmin()

lowest_score_job = data1.loc[min_score]

print('Job title with the lowest company score:\n', lowest_score_job[['Job Title', 'Company Score']])

Job title with the lowest company score:
 Job Title        Software Development Engineer, Officer, Onsite
Company Score                                               1.0
Name: 600, dtype: object

## 25.List all companies with jobs offering a salary range over $120K.

In [26]:
data['new salary'] = data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

jobs = data[data['new salary']> 120]

result = jobs[['Company', 'Salary']]

print(result)

             Company                         Salary
5            Spotify  $123K - $175K (Employer est.)
9                PFF  $147K - $189K (Employer est.)
14      Athenahealth  $192K - $288K (Employer est.)
18             Hertz  $124K - $234K (Employer est.)
25              Amex  $124K - $142K (Employer est.)
..               ...                            ...
751  Bank of America  $129K - $224K (Employer est.)
754     Audacy, Inc.  $124K - $234K (Employer est.)
758            Tesla  $234K - $284K (Employer est.)
759           OpenAI  $160K - $385K (Employer est.)
760       NCR Atleos          $222K (Employer est.)

[183 rows x 2 columns]

## 26.Which company offers a full-stack software engineer position?

In [ ]:
full_stack_jobs = data[data['Job Title'].str.contains('Full Stack Software Engineer', case=False, na=False)]

full_stack_companies = full_stack_jobs['Company'].unique()

print('Companies offering Full-Stack Software Engineer positions:\n', full_stack_companies)

Companies offering Full-Stack Software Engineer positions:
 ['T-Mobile USA, Inc.' 'Software Productivity Strategists'
 'iconectiv, LLC.' 'Sage' '3 Reasons Consulting'
 'University of Washington' 'Super Micro Computer' 'State Street' 'Adobe'
 'BOEING']

## 27.Find all companies that have both a company score over 4.0 and offer a salary range above $100K.

In [29]:
data['new salary'] = data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

jobs = data[(data['new salary']> 100) &( data['Company Score']>4)]

result = jobs[['Company','Company Score', 'Salary']]

print(result)

                            Company  Company Score  \
9                               PFF            4.2
24       Boston Children's Hospital            4.1
28                            Adobe            4.3
38   Software Engineering Institute            4.2
41          Amazon.com Services LLC            5.0
..                              ...            ...
727            LinQuest Corporation            4.3
742        Digital Insight Printing            4.1
745             Powermind Solutions            4.6
754                    Audacy, Inc.            4.8
758                           Tesla            4.1

                             Salary
9     $147K - $189K (Employer est.)
24    $102K - $173K (Employer est.)
28    $142K - $178K (Employer est.)
38    $116K - $184K (Employer est.)
41    $112K - $165K (Employer est.)
..                              ...
727  $119K - $173K (Glassdoor est.)
742   $175K - $209K (Employer est.)
745   $129K - $193K (Employer est.)
754   $124K - $234K (Employer est.)
758   $234K - $284K (Employer est.)

[115 rows x 3 columns]

## 28.What is the location for the job with the highest salary range?

In [34]:
data['new salary'] = data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

jobs = data.loc[data['new salary'].idxmax()]

result = jobs[['Company', 'Location', 'Salary']]

print(result)

Company                            BOEING
Location                   Washington, DC
Salary      $343K - $637K (Employer est.)
Name: 526, dtype: object

## 29.Compare the salary ranges of all software engineer roles in the dataset.

In [36]:
software_jobs = data[data['Job Title'].str.contains('Software Engineer', case=False, na=False)]

salary = software_jobs[['Job Title','Salary']]

print('Salary ranges for all Software Engineer roles:\n', salary)

Salary ranges for all Software Engineer roles:
                                              Job Title  \
0                                    Software Engineer
2                                 C# Software Engineer
3    Software Engineer, Fullstack, 1+ Years of Expe...
4                                    Software Engineer
6                          Associate Software Engineer
..                                                 ...
864       Senior Software Engineer - App Orchestration
865        Software Engineer, Machine Learning Compute
866                Software Engineer - 3 (Apache NiFi)
867                           Senior Software Engineer
869       GUI Software Engineer II - Surgical Robotics

                            Salary
0     $68K - $94K (Glassdoor est.)
2    $95K - $118K (Glassdoor est.)
3     $97K - $145K (Employer est.)
4    $85K - $108K (Glassdoor est.)
6     $77K - $94K (Glassdoor est.)
..                             ...
864                            NaN
865                            NaN
866                            NaN
867                            NaN
869                            NaN

[646 rows x 2 columns]

## 30.Which company offers the highest estimated salary for a Software Engineer?

In [47]:
software_jobs = data[data['Job Title'].str.contains('Software Engineer', case=False, na=False)]

software_jobs.loc [software_jobs['new salary'].max() ]

Company                                Tencent
Company Score                              4.0
Job Title             Senior Software Engineer
Location                            Vienna, VA
Date                                        2d
Salary           $84K - $132K (Glassdoor est.)
new salary                                84.0
Name: 343, dtype: object

## 31.What is the estimated salary range for a Software Engineer at Garmin International, Inc.?

In [18]:
garmin_salary_range = data[(data['Company'] == 'Garmin International, Inc.') & (data['Job Title'].str.contains('Software Engineer', case=False, na=False))]

result = garmin_salary_range[['Company', 'Job Title', 'Salary']]


print(result)

                        Company  \
2    Garmin International, Inc.
384  Garmin International, Inc.
530  Garmin International, Inc.
544  Garmin International, Inc.

                                             Job Title  \
2                                 C# Software Engineer
384      Experienced Software Engineer - Scaled Access
530         Senior Software Engineer - Courier Pricing
544  Associate Software Engineer, Edwards Air Force...

                            Salary
2    $95K - $118K (Glassdoor est.)
384   $70K - $96K (Glassdoor est.)
530  $83K - $110K (Glassdoor est.)
544  $85K - $130K (Glassdoor est.)

## 32.Which company offers a Software Support Engineer role?

In [52]:
software_support_roles = data[data['Job Title'].str.contains('Software Support Engineer', case=False, na=False)]

result = software_support_roles[['Company', 'Job Title']]

print(result)

                                Company  \
1                               Workiva
423  LSEG (London Stock Exchange Group)
627          Garmin International, Inc.
690                    Prophet Software

                                             Job Title
1                            Software Support Engineer
423                          Software Support Engineer
627  Yardi Enterprise Software Support Engineer - H...
690                    Field Software Support Engineer

## 33.What is the company score for Snapchat?

In [ ]:
snapchat_score = data[data['Company'] == 'Snapchat']['Company Score']

print(f"The company score for Snapchat is\n: {snapchat_score}")

The company score for Snapchat is
: 3      3.5
17     3.5
281    4.3
284    3.8
Name: Company Score, dtype: float64

## 34.In which city is the job located for the position of C# Software Engineer?

In [12]:
roles = data[data['Job Title'] == 'C# Software Engineer']


result = roles[['Job Title', 'Location']]


print(result)

                Job Title      Location
2    C# Software Engineer      Cary, NC
581  C# Software Engineer  Pennsylvania

## 35.Which company offers a salary range of $68K - $94K for a Software Engineer role?

In [20]:
salary_range = data[(data['Job Title'] == 'Software Engineer') & (data['Salary'].str.contains(r'68K.*94K'))]

result = salary_range[['Company', 'Job Title', 'Salary']]

print(result)

    Company          Job Title                        Salary
0  ViewSoft  Software Engineer  $68K - $94K (Glassdoor est.)

## 36.Which company has a higher company score, ViewSoft or Workiva?

In [11]:
company_scores = data[data['Company'].isin(['ViewSoft', 'Workiva'])][['Company', 'Company Score']]


print("{} has the maximum score of {}".format(company_scores.max()['Company'], company_scores.max()))

Workiva has the maximum score of Company          Workiva
Company Score        4.8
dtype: object

## 37.Compare the salary range of the Software Engineer at Vitesco Technologies Group AG and the Software Engineer at Garmin International, Inc.

In [33]:
salary1 = data[(data['Company'] == 'Vitesco Technologies Group AG') & (data['Job Title'] == 'Software Engineer')]


salary2 = data[(data['Company'] == 'Garmin International, Inc.') & (data['Job Title'].str.contains('Software Engineer', case=False, na=False))]

print(salary1[['Company', 'Job Title', 'Salary']])

print("\n",salary2[['Company', 'Job Title', 'Salary']])

                         Company          Job Title  \
4  Vitesco Technologies Group AG  Software Engineer

                          Salary
4  $85K - $108K (Glassdoor est.)

                         Company  \
2    Garmin International, Inc.
384  Garmin International, Inc.
530  Garmin International, Inc.
544  Garmin International, Inc.

                                             Job Title  \
2                                 C# Software Engineer
384      Experienced Software Engineer - Scaled Access
530         Senior Software Engineer - Courier Pricing
544  Associate Software Engineer, Edwards Air Force...

                            Salary
2    $95K - $118K (Glassdoor est.)
384   $70K - $96K (Glassdoor est.)
530  $83K - $110K (Glassdoor est.)
544  $85K - $130K (Glassdoor est.)

## 38.Which job offers a salary range of over $100K?

In [56]:
data['new salary'] = data['Salary'].str.extract(r'(\d{2,3})K')[0].astype(float)

jobs = data[data['new salary']> 100]

result = jobs[['Company', 'Job Title','Salary']]

print(result)

                       Company  \
5                      Spotify
9                          PFF
14                Athenahealth
18                       Hertz
23       The MITRE Corporation
..                         ...
752  Amazon Web Services, Inc.
754               Audacy, Inc.
758                      Tesla
759                     OpenAI
760                 NCR Atleos

                                             Job Title  \
5                                  Backend Engineer II
9                                Sr. Software Engineer
14      Software Engineer, athenaCollector – RCM Rules
18                                   Software Engineer
23                         Associate Software Engineer
..                                                 ...
752                                 Software Developer
754      Software Dev Engineer, L5 , SFSC Integrations
758                      Junior Java Software Engineer
759                   Apprentice ETL Software Engineer
760  Software Engineer, Tool & Infrastructure, Reli...

                             Salary
5     $123K - $175K (Employer est.)
9     $147K - $189K (Employer est.)
14    $192K - $288K (Employer est.)
18    $124K - $234K (Employer est.)
23    $108K - $199K (Employer est.)
..                              ...
752  $118K - $184K (Glassdoor est.)
754   $124K - $234K (Employer est.)
758   $234K - $284K (Employer est.)
759   $160K - $385K (Employer est.)
760           $222K (Employer est.)

[320 rows x 3 columns]

## 39.Which company has a company score of less than 4.0?

In [ ]:
companies_score = data[data['Company Score'] < 4.0]

companies_list = companies_score[['Company', 'Company Score']]


print(companies_list)

                           Company  Company Score
2       Garmin International, Inc.            3.9
3                         Snapchat            3.5
4    Vitesco Technologies Group AG            3.1
5                          Spotify            3.9
8                            WHOOP            3.3
..                             ...            ...
782                     SimpliSafe            2.9
783                 Inspire Brands            3.7
785                   Deluxe Media            3.5
786                           Meta            3.7
787                      Liquibase            3.8

[430 rows x 2 columns]

## 40.What is the job title with the highest company score in this dataset?

In [ ]:
highest_score_job = data.sort_values(by='Company Score', ascending=False).iloc[0]

job_title = highest_score_job['Job Title']

company_score = highest_score_job['Company Score']

print(f"The job title with the highest company score is: {job_title} (Company Score: {company_score})")

The job title with the highest company score is: Software Engineer (Company Score: 5.0)