link:-https://www.kaggle.com/datasets/stefanydeoliveira/summer-olympics-medals-1896-2024

In [9]:
import pandas as pd
data = pd.read_csv(r'/content/sample_data/olympics_dataset.csv')
data.head()

,player_id,Name,Sex,Team,NOC,Year,Season,City,Sport,Event,Medal
0,0,A Dijiang,M,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,1,A Lamusi,M,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No medal
2,2,Gunnar Aaby,M,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,No medal
3,3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,26,Cornelia (-strannood),F,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,No medal

In [11]:
#Q1.How many unique athletes are there in the dataset?

unique_athletes = data['Name'].nunique()

print(f"Number of unique athletes: {unique_athletes}")

Number of unique athletes: 129992

In [22]:
#Q2.How do group data by ‘City’ and apply multiple aggregation functions?

grouped_data = data.groupby('City').agg({
    'Year': ['min', 'max', 'count'],
    'Sport': 'nunique',
    'Medal': 'count'
})

print("Grouped data by 'City' with multiple aggregation functions:")
print(grouped_data)

Grouped data by 'City' with multiple aggregation functions:
                Year                Sport  Medal
                 min   max  count nunique  count
City
Amsterdam       1928  1928   4992      17   4992
Antwerpen       1920  1920   4292      25   4292
Athina          1896  2004  15556      35  15556
Atlanta         1996  1996  13780      31  13780
Barcelona       1992  1992  12977      29  12977
Beijing         2008  2008  13602      34  13602
Berlin          1936  1936   6506      24   6506
Helsinki        1952  1952   8270      19   8270
London          1908  2012  22426      41  22426
Los Angeles     1932  1984  12423      27  12423
Melbourne       1956  1956   4829      18   4829
Mexico City     1968  1968   8588      20   8588
Montreal        1976  1976   8641      23   8641
Moskva          1980  1980   7191      23   7191
Munich          1972  1972  10304      23  10304
Paris           1900  2024  22061      60  22061
Rio de Janeiro  2016  2016  13688      34  13688
Roma            1960  1960   8119      19   8119
Seoul           1988  1988  12037      27  12037
St. Louis       1904  1904   1301      18   1301
Stockholm       1912  1956   4338      17   4338
Sydney          2000  2000  13821      34  13821
Tokyo           1964  2020  22823      50  22823

In [13]:
#Q3.What are the different sports included in the dataset?

unique_sports = data['Sport'].unique()

print(f"Different sports in the dataset: {unique_sports}")

Different sports in the dataset: ['Basketball' 'Judo' 'Football' 'Tug-Of-War' 'Athletics' 'Swimming'
 'Badminton' 'Sailing' 'Gymnastics' 'Art Competitions' 'Handball'
 'Weightlifting' 'Wrestling' 'Water Polo' 'Hockey' 'Rowing' 'Fencing'
 'Equestrianism' 'Shooting' 'Boxing' 'Taekwondo' 'Cycling' 'Diving'
 'Canoeing' 'Tennis' 'Modern Pentathlon' 'Golf' 'Softball' 'Archery'
 'Volleyball' 'Synchronized Swimming' 'Table Tennis' 'Baseball'
 'Rhythmic Gymnastics' 'Rugby Sevens' 'Trampolining' 'Beach Volleyball'
 'Triathlon' 'Rugby' 'Lacrosse' 'Polo' 'Cricket' 'Ice Hockey' 'Racquets'
 'Motorboating' 'Croquet' 'Figure Skating' 'Jeu De Paume' 'Roque'
 'Basque Pelota' 'Alpinism' 'Aeronautics' 'Cycling Road'
 'Artistic Gymnastics' 'Karate' 'Baseball/Softball'
 'Trampoline Gymnastics' 'Marathon Swimming' 'Canoe Slalom' 'Surfing'
 'Canoe Sprint' 'Cycling BMX Racing' 'Equestrian' 'Artistic Swimming'
 'Cycling Track' 'Skateboarding' 'Cycling Mountain Bike' '3x3 Basketball'
 'Cycling BMX Freestyle' 'Sport Climbing' 'Marathon Swimming, Swimming'
 'Breaking' 'Cycling Road, Cycling Track'
 'Cycling Road, Cycling Mountain Bike' 'Cycling Road, Triathlon'
 '3x3 Basketball, Basketball']

In [11]:
#Q4.How can we select only the columns with integer data types from a DataFrame and check for missing values in those columns?

int_columns = data.select_dtypes(include=['int64'])

missing_values = int_columns.isnull().sum()

print("Int Data Type:", int_columns.head(2))

print("\nMissing values in integer columns:", missing_values)

Int Data Type:    player_id  Year
0          0  1992
1          1  2012

Missing values in integer columns: player_id    0
Year         0
dtype: int64

In [12]:
#Q5.Which city hosted the most Olympic Games in this dataset?

city = data['City'].value_counts().idxmax()

count = data['City'].value_counts().max()

print(f"The city that hosted the most Olympic Games is {city} with {count} occurrences.")

The city that hosted the most Olympic Games is Tokyo with 22823 occurrences.

In [13]:
#Q6.How can calculate the percentiles for the given dataset?

percentiles = data['Year'].quantile([0.25, 0.5, 0.75, 0.9, 0.95])

print("Percentiles for the 'Year' column:", percentiles)

Percentiles for the 'Year' column: 0.25    1960.0
0.50    1988.0
0.75    2008.0
0.90    2020.0
0.95    2024.0
Name: Year, dtype: float64

In [22]:
#Q7.How can I identify duplicated in dataset?

duplicates = data[data.duplicated(keep=False)]

print("All duplicated rows (including first occurrence):", duplicates)

All duplicated rows (including first occurrence): Empty DataFrame
Columns: [player_id, Name, Sex, Team, NOC, Year, Season, City, Sport, Event, Medal]
Index: []

In [24]:
#Q8.How can filter out duplicates rows from  dataset?

cleaned_data = data.drop_duplicates()

print(cleaned_data.head())

   player_id                   Name Sex            Team  NOC  Year  Season  \
0          0              A Dijiang   M           China  CHN  1992  Summer
1          1               A Lamusi   M           China  CHN  2012  Summer
2          2            Gunnar Aaby   M         Denmark  DEN  1920  Summer
3          3            Edgar Aabye   M  Denmark/Sweden  DEN  1900  Summer
4         26  Cornelia (-strannood)   F     Netherlands  NED  1932  Summer

          City       Sport                         Event     Medal
0    Barcelona  Basketball   Basketball Men's Basketball  No medal
1       London        Judo  Judo Men's Extra-Lightweight  No medal
2    Antwerpen    Football       Football Men's Football  No medal
3        Paris  Tug-Of-War   Tug-Of-War Men's Tug-Of-War      Gold
4  Los Angeles   Athletics  Athletics Women's 100 metres  No medal

In [26]:
#Q9.Which year has the highest number of recorded events?

events_per_year = data.groupby('Year')['Event'].count()

year = events_per_year.idxmax()

max_events = events_per_year.max()

print(f"The year with the highest number of recorded events is {year} with {max_events} events.")

The year with the highest number of recorded events is 2020 with 15121 events.

In [27]:
#Q10.How can count the number of duplicated values?

duplicate_count = data.duplicated().sum()

print(f"Number of duplicated rows: {duplicate_count}")

Number of duplicated rows: 0

In [29]:
#Q11.How can extract the group of data for the ‘China’ team?

china_team = data[data['Team'] == 'China']

print("Data for China team:", china_team)

Data for China team:         player_id           Name Sex   Team  NOC  Year  Season  \
0               0      A Dijiang   M  China  CHN  1992  Summer
1               1       A Lamusi   M  China  CHN  2012  Summer
921          1072  Abudoureheman   M  China  CHN  2000  Summer
2266         2611      Ai Linuer   M  China  CHN  2004  Summer
2267         2612      Ai Yanhan   F  China  CHN  2016  Summer
...           ...            ...  ..    ...  ...   ...     ...
250275    1961747    Jianlin Lyu   M  China  CHN  2024  Summer
250276    1961747    Jianlin Lyu   M  China  CHN  2024  Summer
251771    1975792      Yixiao Lv   F  China  CHN  2024  Summer
252455    4646625      Enqi Jiao   F  China  CHN  2024  Summer
252469    4658690   Saisai Zheng   F  China  CHN  2024  Summer

                  City       Sport                                     Event  \
0            Barcelona  Basketball               Basketball Men's Basketball
1               London        Judo              Judo Men's Extra-Lightweight
921             Sydney      Boxing                 Boxing Men's Middleweight
2266            Athina   Wrestling  Wrestling Men's Lightweight, Greco-Roman
2267    Rio de Janeiro    Swimming     Swimming Women's 200 metres Freestyle
...                ...         ...                                       ...
250275           Paris    Shooting                                 Skeet Men
250276           Paris    Shooting                          Skeet Mixed Team
251771           Paris     Sailing                              Mixed Dinghy
252455           Paris     Fencing                         Women's Foil Team
252469           Paris      Tennis                           Women's Doubles

           Medal
0       No medal
1       No medal
921     No medal
2266    No medal
2267    No medal
...          ...
250275  No medal
250276    Bronze
251771  No medal
252455  No medal
252469  No medal

[5340 rows x 11 columns]

In [30]:
#Q12.How do you find the earliest and latest "year" in dataset?

earliest_year = data['Year'].min()

latest_year = data['Year'].max()

print(f"The earliest year in the dataset is {earliest_year}")

print(f"The latest year in the dataset is {latest_year}")

The earliest year in the dataset is 1896
The latest year in the dataset is 2024

In [31]:
#Q13.How do get a random sample of 'Team' of the rows from  dataset?

random_sample_teams = data['Team'].sample(n=5)

print("Random sample of 'Team' rows:")

print(random_sample_teams)

Random sample of 'Team' rows:
110591    Chinese Taipei
180033     United States
15155            Belarus
212630            Sweden
184044            Norway
Name: Team, dtype: object

In [16]:
#Q14.How can find the highest medal type awarded each year in  dataset?

medals = data.groupby(['Year', 'Medal']).size().reset_index(name='Count')

highest_medal = medals.loc[medals.groupby('Year')['Count'].idxmax()]

print("Highest medal type awarded each year:\n", highest_medal)

Highest medal type awarded each year:
        Year     Medal  Count
1    1896.0  No medal      8
5    1900.0  No medal     32
9    1904.0  No medal     21
13   1906.0  No medal     65
17   1908.0  No medal     84
21   1912.0  No medal    145
25   1920.0  No medal    109
29   1924.0  No medal    156
33   1928.0  No medal    152
37   1932.0  No medal     54
41   1936.0  No medal    204
45   1948.0  No medal    293
49   1952.0  No medal    273
53   1956.0  No medal    135
57   1960.0  No medal    310
61   1964.0  No medal    281
65   1968.0  No medal    387
69   1972.0  No medal    439
73   1976.0  No medal    331
77   1980.0  No medal    323
81   1984.0  No medal    447
85   1988.0  No medal    569
89   1992.0  No medal    506
93   1996.0  No medal    545
97   2000.0  No medal    537
101  2004.0  No medal    513
105  2008.0  No medal    540
109  2012.0  No medal    540
113  2016.0  No medal    651

In [18]:
#Q15.Which year had the earliest medal type as ‘Bronze’?

bronze_medals = data[data['Medal'] == 'Bronze']

bronze_year = bronze_medals['Year'].min()

print(f"The earliest year with a 'Bronze' medal awarded is {bronze_year}.")

The earliest year with a 'Bronze' medal awarded is 1900.0.

In [20]:
#Q16.How many unique values are there for each attribute within each team?

unique_values = data.groupby('Team').nunique()

print("Number of unique values for each attribute within each team:\n", unique_values)

Number of unique values for each attribute within each team:
                 player_id  Name  Sex  NOC  Year  Season  City  Sport  Event  \
Team
Afghanistan            14    13    1    1     7       1     7      3      6
Algeria                47    33    2    1    11       1    11      9     21
Ali-Baba II             1     1    1    1     1       1     1      1      1
American Samoa          1     1    1    1     1       1     1      1      1
Amolgavar               1     1    1    1     1       1     1      1      1
...                   ...   ...  ...  ...   ...     ...   ...    ...    ...
Yeoman XII              1     1    1    1     1       1     1      1      1
Yugoslavia             44    21    2    1    11       1    11      9     22
Yugoslavia-1            1     1    1    1     1       1     1      1      1
Zimbabwe                1     1    1    1     1       1     1      1      1
rn-2                    2     2    1    1     1       1     1      1      1

                Medal
Team
Afghanistan         1
Algeria             2
Ali-Baba II         1
American Samoa      1
Amolgavar           1
...               ...
Yeoman XII          1
Yugoslavia          4
Yugoslavia-1        1
Zimbabwe            1
rn-2                1

[305 rows x 10 columns]

In [20]:
#Q17.How can extract the first, nth, and last rows from each group in a dataset?

# Extract the first row from each group
first_row = data.groupby('Team')

print("First row for each team:")

print(first_row.head())

First row for each team:
        player_id                   Name Sex            Team  NOC  Year  \
0               0              A Dijiang   M           China  CHN  1992
1               1               A Lamusi   M           China  CHN  2012
2               2            Gunnar Aaby   M         Denmark  DEN  1920
3               3            Edgar Aabye   M  Denmark/Sweden  DEN  1900
4              26  Cornelia (-strannood)   F     Netherlands  NED  1932
...           ...                    ...  ..             ...  ...   ...
252128    1980116                  Mi Jo   F       DPR Korea  PRK  2024
252129    1980119               Myong Im   M       DPR Korea  PRK  2024
252130    1980122              Ryong Han   M       DPR Korea  PRK  2024
252483    4674332        Herve Toumandji   M  Centr Afric Re  CAF  2024
252555    4979790    Steven Insixiengmay   M         Lao PDR  LAO  2024

        Season         City       Sport                              Event  \
0       Summer    Barcelona  Basketball        Basketball Men's Basketball
1       Summer       London        Judo       Judo Men's Extra-Lightweight
2       Summer    Antwerpen    Football            Football Men's Football
3       Summer        Paris  Tug-Of-War        Tug-Of-War Men's Tug-Of-War
4       Summer  Los Angeles   Athletics       Athletics Women's 100 metres
...        ...          ...         ...                                ...
252128  Summer        Paris      Diving  Women's Synchronised 10m Platform
252129  Summer        Paris      Diving                 Men's 10m Platform
252130  Summer        Paris   Athletics                     Men's Marathon
252483  Summer        Paris   Athletics                         Men's 100m
252555  Summer        Paris    Swimming            Men's 100m Breaststroke

           Medal
0       No medal
1       No medal
2       No medal
3           Gold
4       No medal
...          ...
252128    Silver
252129  No medal
252130  No medal
252483  No medal
252555  No medal

[4328 rows x 11 columns]

In [21]:
# Extract the last row from each group
last_row = data.groupby('Team').last()
print("\nLast row for each team:")
print(last_row)

Last row for each team:
                       player_id                Name Sex  NOC  Year  Season  \
Team
30. Februar               254456        Harald Musil   M  AUT  1952  Summer
A North American Team     263255      William Wright   M  USA  1900  Summer
AIN                      4968593       Evgenii Somov   M  AIN  2024  Summer
Acipactli                 193165      Francisco Lpez   M  MEX  1964  Summer
Acturus                   188185      Jorge Estrella   M  ARG  1948  Summer
...                          ...                 ...  ..  ...   ...     ...
Zambia                   1982385       Sitali Kakene   M  ZAM  2024  Summer
Zefyros                   253549  Nikolaos Vlangalis   M  GRE  1960  Summer
Zimbabwe                 1932735  Denilson Cyprianos   M  ZIM  2024  Summer
Zut                       258096    Henri Weewauters   M  BEL  1908  Summer
rn-2                      111494        Bertel Jusln   M  FIN  1912  Summer

                            City      Sport  \
Team
30. Februar             Helsinki    Sailing
A North American Team      Paris       Polo
AIN                        Paris   Swimming
Acipactli                  Tokyo    Sailing
Acturus                   London    Sailing
...                          ...        ...
Zambia                     Paris  Athletics
Zefyros                     Roma    Sailing
Zimbabwe                   Paris   Swimming
Zut                       London    Sailing
rn-2                   Stockholm    Sailing

                                                     Event     Medal
Team
30. Februar              Sailing Mixed Two Person Keelboat  No medal
A North American Team                      Polo Men's Polo    Bronze
AIN                                    Men's 50m Freestyle  No medal
Acipactli              Sailing Mixed Three Person Keelboat  No medal
Acturus                  Sailing Mixed Two Person Keelboat  No medal
...                                                    ...       ...
Zambia                                Men's 4 x 400m Relay  No medal
Zefyros                  Sailing Mixed Two Person Keelboat  No medal
Zimbabwe                             Men's 200m Backstroke  No medal
Zut                                 Sailing Mixed 6 metres    Silver
rn-2                                Sailing Mixed 8 metres  No medal

[1193 rows x 10 columns]

In [27]:
#Q18.How do use the sort_values method in  DataFrame?

sorted_data = data.sort_values(by='Year')

print("Data sorted by 'Year' (ascending):\n", sorted_data.head(1))

Data sorted by 'Year' (ascending):
       player_id                    Name Sex      Team  NOC    Year  Season  \
2677       3080  Aristidis Akratopoulos   M  Greece-3  GRE  1896.0  Summer

        City   Sport                 Event     Medal
2677  Athina  Tennis  Tennis Men's Doubles  No medal

In [30]:
#Q19.What are the details of all athletes in the team ‘Austria’?

austria_athletes = data[data['Team'] == 'Austria']

print("Details of all athletes in the team 'Austria':\n", austria_athletes.head(1))

Details of all athletes in the team 'Austria':
       player_id             Name Sex     Team  NOC    Year  Season       City  \
1498       1738  Margarete Adler   F  Austria  AUT  1912.0  Summer  Stockholm

         Sport                                  Event     Medal
1498  Swimming  Swimming Women's 100 metres Freestyle  No medal

In [31]:
#Q20.How do use the sort_values method in  DataFrame by the year and medal?

sorted_data = data.sort_values(by=['Year', 'Medal'], ascending=[True, False])

print("Data sorted by 'Year' (ascending) and 'Medal' (descending):")
print(sorted_data)

Data sorted by 'Year' (ascending) and 'Medal' (descending):
      player_id                       Name  Sex           Team  NOC    Year  \
6404       7353            Ioannis Andreou    M         Greece  GRE  1896.0
2676       3079     Aristidis Akratopoulos    M         Greece  GRE  1896.0
2677       3080     Aristidis Akratopoulos    M       Greece-3  GRE  1896.0
2678       3081  Konstantinos Akratopoulos    M         Greece  GRE  1896.0
2679       3082  Konstantinos Akratopoulos    M       Greece-3  GRE  1896.0
...         ...                        ...  ...            ...  ...     ...
8671      10134      Geraldina Asher-smith    F  Great Britain  GBR  2016.0
9634      11264                 Mohd Awang    M       Malaysia  MAS  2016.0
9663      11293             Viktor Axelsen    M        Denmark  DEN  2016.0
9703      11345                  Almaz Eba    F       Ethiopia  ETH  2016.0
9835        115                        NaN  NaN            NaN  NaN     NaN

      Season            City      Sport  \
6404  Summer          Athina   Swimming
2676  Summer          Athina     Tennis
2677  Summer          Athina     Tennis
2678  Summer          Athina     Tennis
2679  Summer          Athina     Tennis
...      ...             ...        ...
8671  Summer  Rio de Janeiro  Athletics
9634  Summer  Rio de Janeiro    Cycling
9663  Summer  Rio de Janeiro  Badminton
9703  Summer  Rio de Janeiro  Athletics
9835     NaN             NaN        NaN

                                       Event     Medal
6404   Swimming Men's 1,200 metres Freestyle    Silver
2676                    Tennis Men's Singles  No medal
2677                    Tennis Men's Doubles  No medal
2678                    Tennis Men's Singles  No medal
2679                    Tennis Men's Doubles  No medal
...                                      ...       ...
8671  Athletics Women's 4 x 100 metres Relay    Bronze
9634                    Cycling Men's Keirin    Bronze
9663                 Badminton Men's Singles    Bronze
9703          Athletics Women's 5,000 metres    Bronze
9835                                     NaN       NaN

[9836 rows x 11 columns]